// Font Sizes
@for $i from 10 through 20 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}

// Margins
@for $i from 0 through 30 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

// Paddings
@for $i from 0 through 30 {
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
  .p-#{$i} {
    padding: #{$i}px;
  }
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
