.radio-select {
  display: flex;
  &__item {
    width: 33.3333%;
    padding: 10px;
    &-wrapper {
      border: 2px solid $gray;
      border-radius: 4px;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 0 0 0 0 $gray;
      transition: border-color 0.25s ease, box-shadow 0.25s ease;
    }
    min-height: 150px;
    &.active {
      .radio-select__item-wrapper {
        border-color: $green;
        box-shadow: 0 0 0 2px #16a085;
      }
    }
    &-image {
      img {
        width: 100%;
      }
    }
    &-title {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 5px;
    }
    &-container {
      padding: 10px;
    }
    &:hover:not(.active) {
      border-color: $gray-light;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-text {
        font-size: 12px;
      }
      &-number {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        svg {
          margin-left: 3px;
        }
      }
    }

  }
}
