.reservation-completed-message-box {
  text-align: center;
  &__content {
    max-width: 600px;
    margin: 0 auto;
  }
  &__actions {
    display: flex;
    &-item {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
