.reservation-step {
  &__content {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $gray;
    overflow: hidden;
  }

  &-form {
    margin-top: 15px;
    &__label {
      margin: 10px 0 5px;
    }
    &__date-person {
      display: flex;
    }
    &__date {
      flex: 2;
      .el-input__inner {
        width: 100%;
      }
      padding-right: 16px;
    }
    &__person,
    &__child {
      .el-input-number {
        width: 100%;
      }
      flex: 1;
      padding: 0 8px;
    }
    &__child {
      flex: 1;
      padding: 0 8px;
    }
    &__alert {
      margin-top: 10px;
    }
  }

  &__actions {
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: $gray;
    border: 1px solid $gray;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
  }

  &__hotel-info {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    background-color: $gray;
    padding: 15px;
  }

  &__cols {
    display: flex;
    & > div {
      width: 50%;
      flex: 1;
      &:first-child {
        margin-right: 8px;
      }
      &:nth-child(2) {
        margin-left: 8px;
      }
    }
  }
}

.reservation-steps {
  &__content {
    padding: 50px 0 0;
  }
}

.reservation-step-status {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px 0;
  position: sticky;
  top: 80px;
  background-color: $white;
  box-shadow: 0 2px 0px $gray;
  z-index: 90;

  &__item {
    max-width: 110px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    &-image {
      border: 5px solid $white;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-light;
      transition: background-color 0.3s ease-in-out;
      color: #fff;
      font-size: 35px;
    }
    &-title {
      margin: 15px 0 0;
    }
    &.current {
      .reservation-step-status__item-image {
        background-color: $primary;
      }
      .reservation-step-status__item-title {
        font-weight: 600;
      }
    }
    &.completed {
      .reservation-step-status__item-image {
        background-color: $green;
      }
    }
  }

  &__bar {
    position: absolute;
    width: 100%;
    top: 65px;
    z-index: -2;
    padding: 0 55px;
    &-item {
      background-color: $gray-light;
      height: 12px;
      width: 100%;
      position: relative;
      & > div {
        height: 100%;
        background-color: $green;
        left: 0;
        position: absolute;
        transition: width 0.3s ease-in-out;
      }
    }
  }
}
