.reservation-step-status {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__item {
    max-width: 110px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    &-image {
      border: 5px solid $white;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray-light;
      transition: background-color .3s ease-in-out;
      color: #fff;
      font-size: 35px;
    }
    &.current {
      .reservation-step-status__item-image {
        background-color: $primary;
      }
    }
    &.completed {
      .reservation-step-status__item-image {
        background-color: $green;
      }
    }
  }

  &__bar {
    position: absolute;
    width: 100%;
    top: 35px;
    z-index: -2;
    padding: 0 55px;
    &-item {
      background-color: $gray-light;
      height: 12px;
      width: 100%;
      position: relative;
      & > div {
        height: 100%;
        background-color: $green;
        left: 0;
        position: absolute;
        transition: width .3s ease-in-out;
      }
    }
  }
}
