@media (max-width: 700px) {
  .reservation-step-form {
    &__person, &__child {
      padding: 0;
    }
  }
  .reservation-step-form__date {
    padding-right: 0;
    &-person {
      flex-flow: column;
    }
  }
  .radio-select {
    flex-wrap: wrap;
    &__item {
      width: 50%;
    }
  }
  .reservation-step__cols {
    flex-flow: column;
    & > div {
      width: 100%;
    }
    & > div:nth-child(2) {
      margin-left: 0;
    }
  }
  .reservation-step__col {
    margin-bottom: 20px;
  }

  .reservation-completed-message-box__actions {
    flex-flow: column;
    &-item {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 500px) {
  .radio-select {
    &__item {
      width: 100%;
    }
  }
  
  .reservation-step-status__item {
    max-width: 90px;
    &-title {
      font-size: 12px;
    }
    &-image {
      border-width: 2px;
      width: 60px;
      height: 60px;
      font-size: 25px;
    }
  }
  .reservation-step-status__bar {
    top: 57px;
    &-item {
      height: 6px;
    }
  }

}
